<% if current_user %>
<% if current_user.rol == "secre" || current_user.rol == "gerente" || current_user.rol == "enc_almacen"%>
<% title "Editar Proveedor" %>

<h1><%= @provider.name%></h1>

<%= render 'form' %>
<br>


<div align="left">
<%= button_to 'Volver', providers_path, :method => :get, class: "btn btn-default"  %>
</div>


  <%else%>
    <%flash[:danger] = "ACCESO RESTRINGIDO"%>
    <center><img src="/images/candado.png"></center>
  <%end%>
<%end%>