<% title "Razones de Confianza" %>
<div id="inicio" class="seccion2 fondo">
    <div class="contenedor1" align="center">
        <div class="columna8">
			<h2>RAZONES POR LAS QUE PUEDE CONFIAR EN NOSOTROS</h2><br>			
			<p  align="justify">
			  + Tratamos a cada cliente con respeto, considerando que cada cliente es de gran importancia para nuestra empresa.
			  	<br><br>

 			  + Respaldamos cada producto que ofrecemos con productos de calidad y al menor precio posible.
 			    <br><br>
 			  
 			  + Ofrecemos la más completa información sobre nuestros productos, con galerías de fotos disponibles.
 			    <br><br>
 			  
 			  + Enviamos pedidos a cualquier parte del país en el menor tiempo posible.
 			    <br><br>
 			  
 			  + Tenemos una gran variedad de productos informáticos lo que nos convierte en una gran empresa
 			  	distribuidorar de suministros informáticos.
 			  	<br><br>
 			   			
 			  + Nuestros clientes tiene a su disposición información por teléfono y a través de la página web.
 			    <br><br>

 			  + Actualizamos frecuentemente nuestros productos para brindarle lo más avanzado de la industria
 			    informática.
 			    <br><br>

 			  + Estamos en constante contacto con nuestros clientes brindándoles la asesoría respectiva.
 			    <br><br>
 			  
 			  + Ofrecemos a empresas particulares y públicas grandes ofertas a precios competitivos y entrega rápida.
 			    <br><br>

 			  + Le enviamos información de nuestros productos así como cotizaciones a su casa u oficina o a través de
 			    correo electrónico.
 			    <br><br><br>  
			</p>		
		</div>
	</div>
</div>
