<% title "Contactos" %>

<div id="inicio" class="seccion2 fondo">
    <div class="contenedor" align="center">
        <div class="columna8">
			<h1>Contactos</h1><br>			
			<p  align="justify">
			  
				<strong> Dirección </strong> <br><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Av. Salamanca #0560 (esq. Lanza)<br><br>

				<strong> Teléfonos y Fax </strong> <br><br>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(591)(4) 4256634 – 4250122 – 4251031<br><br>

				<strong> E-Mail </strong> <br> <br>
				 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gerencia@informaticacomp.com<br>
             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;admin@informaticacomp.com
			</p>		
		</div>
	</div>
</div>
