<% title "Historia" %>

<div id="inicio" class="seccion fondo">
    <div class="contenedor" align="center">
        <div class="columna8">
			<h1>Historia</h1><br>			
			<p  align="justify">
			  INFORMÁTICA Comp. corporativa, dedicada a la comercialización de Hardware, Servicios informáticos, Mobiliario y todo lo referente a dar soluciones en temas de equipamiento empresarial. Conformada por profesionales tanto de Informática como de distintas áreas, establecida el año 1.988 cuenta con más de 25  años de funcionamiento en nuestro medio, tiempo que nos ha permitido adquirir la suficiente experiencia en satisfacer requerimientos exigentes; prueba de ello es que INFORMÁTICA Comp. actualmente presta servicios de soporte técnico y de provisión de Hardware a instituciones e importantes empresas, en cuanto a exigencia en calidad de Hardware y Servicio.
			</p>		
		</div>
	</div>
</div>