<% title "Mision" %>

<div id="inicio" class="seccion fondo">
    <div class="contenedor" align="center">
        <div class="columna8">
			<h1>Mision</h1><br>			
			<p  align="justify">
			  Proveer soluciones tecnológicas de alta calidad en las áreas de Comunicación, 
			  Soporte técnico y Provisión de Hardware, alcanzando altos grados de satisfacción 
			  en nuestros clientes.
			</p>
		<div class="columna4">
                <img src="/images/mision.png" alt="" height="200" width="200">
        </div>
		</div>
	</div>
</div>		
