<% title "Proveedores" %>

<div id="inicio" class="seccion2 fondo">
    <div class="contenedor1" >
        <div class="columna8">
			<h1>Proveedores</h1><br>						
				<h2 align="left"> <strong>  Servidores de Marca</strong></h2> <br>
				<center>
					<img src="/images/hp.png" alt="" height="75" width="75"> &nbsp;
					<img src="/images/ibm.gif" alt="" height="50" width="100"> &nbsp;
					<img src="/images/dell.png" alt="" height="75" width="75"> &nbsp;
					<img src="/images/supermicro.png" alt="" height="150" width="250"> 	<br>	
				</center>
														
				<h2 align="left"> <strong>  Notebook´s </strong> </h2> <br>  		
				
					<img src="/images/toshiba.png" alt="" height="50" width="100"> &nbsp;
					<img src="/images/hp.png" alt="" height="75" width="75"> &nbsp;
					<img src="/images/sony.png" alt="" height="50" width="100"> &nbsp;
					<img src="/images/dell.png" alt="" height="75" width="75">  <br><br>
				
				<h2 align="left"> <strong> Proyectores </strong> </h2> <br>
						
					<img src="/images/mitsubishi.png" alt="" height="50" width="100"> &nbsp;
					<img src="/images/epson.png" alt="" height="100" width="100"> &nbsp;
					<img src="/images/toshiba.png" alt="" height="50" width="100"> &nbsp;<br><br>																	
				<h2 align="left"> <strong> Impresoras de alto tráfico </strong> </h2> <br>						

					<img src="/images/hp.png" alt="" height="75" width="75"> &nbsp;
					<img src="/images/epson.png" alt="" height="100" width="100"> &nbsp;
					<img src="/images/brother.png" alt="" height="50" width="100"> &nbsp;
					<img src="/images/lexmark.png" alt="" height="50" width="100">  <br><br>

				<h2 align="left"> <strong>Tonner´s originales </strong> </h2> <br>

					<img src="/images/hp.png" alt="" height="75" width="75"> &nbsp;					
					<img src="/images/brother.png" alt="" height="50" width="100"> &nbsp;
					<img src="/images/lexmark.png" alt="" height="50" width="100">  <br><br>					
						
				<h2 align="left"> <strong> Modem´s </strong> </h2> 
					
					<img src="/images/paradyne.gif" alt="" height="100" width="100"> &nbsp; <br>	 						
				<h2 align="left"> <strong> Router´s y FIRE Wall´s </strong> </h2> <br>
					
					<img src="/images/juniper.png" alt="" height="100" width="100"> &nbsp;
					<img src="/images/cisco.png" alt="" height="50" width="100">  <br><br>							
		</div>
	</div>
</div>		
