<% title "Vision" %>

<div id="inicio" class="seccion fondo">
    <div class="contenedor" align="center">
        <div class="columna8">
			<h1>Vision</h1><br>			
			<p  align="justify">
			  Ser una de las empresas más consolidadas del país, así como una de las mejores 
			  en la provisión de equipos de última tecnología, brindando una excelente calidad 
			  de servicio y atención a nuestros clientes.			
			 </p>
		<div class="columna4">
                <img class="redondo" src="/images/vision.png" alt="" height="200" width="200">
        </div>
		</div>
	</div>
</div>		

