
<% if current_user %>
	<% if current_user.rol == "enc_almacen" || current_user.rol == "gerente" %>
	<h1>Registrar Marca</h1>


	<%= render 'form' %>
	<div align="left">
		<%= button_to 'Volver', brands_path, :method => :get, class: "btn btn-default"  %>
	</div>

	<%else%>
		<%flash[:danger] = "ACCESO RESTRINGIDO"%>
		<center><img src="/images/candado.png"></center>
	<%end%>
<%end%>
