<% if current_user %>
<% if current_user.rol == "secre" || current_user.rol == "gerente" %>
<% title "Ingresar Fechas" %>

<div class="hero-unit">

<h1>Reporte de Salidas</h1><br><br>
<center>
<form method="GET" action="/sales/search_between_dates">
Fecha Inicio: <input type="date" name="initial_date"> &nbsp;&nbsp;&nbsp;
Fecha Fin: <input type="date" name="ending_date"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar Entre Fechas", class="btn btn-info">
</form>
</center>
</div>
</center>


    <%else%>
    <%flash[:danger] = "ACCESO RESTRINGIDO"%>
    <center><img src="/images/candado.png"></center>
  <%end%>
<%end%>