 <footer class="panel-footer">
    <div class="container">
       <div class="opcion_footer">
	    	<!--<font color="white"><h2>Quienes somos?</h2></font>-->
	    	<!--<p><a href="/historia">Historia</a></p>
	    	<p><a href="/mision">Mision</a></p>
	    	<p><a href="/vision">Vision</a></p>
	    	<p><a href="/confianza">Confianza</a></p>
	    	<p><a href="/proveedores">Proveedores</a></p>-->
	    	<p><a href="/contact">Contactenos</a></p>
	    </div>
	    
	    <div class="opcion_footer">
	    	<font color="white"><h2>Elaborado por:</h2> Juan Antonio Sabath Awad <br/>Cesar Ivan Delgado Silva 
	    	
  		</div>
  	</div>
  <div class="copyright">
  	Taller de Sistemas de Informacion - Universidad Catolica Boliviana "San Pablo".
  </div>
</footer>

